@import "tailwindcss";

@theme {
  --color-surface-container-lowest: #091009;
  --color-surface-container-low: #161d16;
  --color-surface-container: #1a211a;
  --color-outline: #869585;
  --color-primary-container: #4be277;
  --color-surface-container-high: #252c24;
  --color-surface-container-highest: #2f372e;
  --color-error: #ffb4ab;
  --color-error-container: #93000a;
  --color-on-error: #690005;
  --color-on-error-container: #ffdad6;
  --color-secondary-container: #3d4a3d;
  --color-on-secondary: #273327;
  --color-on-background: #dde5d9;
  --color-surface: #0e150e;
  --color-primary: #6fff92;
  --color-on-primary: #003915;
  --color-on-primary-container: #006129;
  --color-primary-fixed-dim: #4ae176;
  --color-on-surface-variant: #bccbb9;
  --color-outline-variant: #3d4a3d;
  --color-tertiary: #ffddc7;
  --color-tertiary-container: #ffb885;
  --color-on-tertiary: #4f2500;
  --color-on-tertiary-container: #79471d;
  --color-background: #0e150e;
  --color-on-secondary-container: #abb9a8;
  --color-on-surface: #dde5d9;
  --color-surface-variant: #2f372e;
  --color-secondary: #bccbb9;
  --color-inverse-on-surface: #2b322a;

  --radius-DEFAULT: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;

  --spacing-unit_lg: 24px;
  --spacing-unit_xxl: 48px;
  --spacing-base: 16px;
  --spacing-unit_sm: 8px;
  --spacing-page_padding: 24px;
  --spacing-unit_xs: 4px;
  --spacing-unit_xl: 32px;
  --spacing-unit_md: 16px;

  --font-sans: "Inter", system-ui, sans-serif;

  --font-size-display: 40px;
  --font-size-label-bold: 14px;
  --font-size-label-md: 12px;
  --font-size-body-lg: 18px;
  --font-size-headline-md: 24px;
  --font-size-headline-sm: 20px;
  --font-size-body-sm: 14px;
  --font-size-body-md: 16px;
  --font-size-headline-lg: 32px;
}

body {
  background-color: #0e150e;
  color: #dde5d9;
  font-family: var(--font-sans);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #3d4a3d; border-radius: 10px; }
